<ion-fab-button class="fab-button">
  <ion-icon name="share-social-outline"></ion-icon>
</ion-fab-button>
<ion-fab-list side="top">
  <ion-fab-button href="" color="email" target="_blank"><ion-icon name="mail-outline"></ion-icon></ion-fab-button>
  <ion-fab-button href="" color="facebook" target="_blank"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
</ion-fab-list>
<ion-fab-list side="start">
  <ion-fab-button href="" color="instagram" target="_blank"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
  <ion-fab-button href="" color="youtube" target="_blank"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>

</ion-fab-list>
