<app-header></app-header>

<ion-content>
  <div class="contenedor">
    <div class="">
      <img
        src="{{comoLlegar.img}}"
        alt="Foto festival" style="width: 100%">
    </div>

    <h1>{{comoLlegar.nombre}}</h1>

    <div style="width: 100%; border-bottom: 1px solid darkgray; margin-bottom: 10px; margin-top:10px"></div>

    <div class="calle">
      <img style="margin-right: 5px" src="assets/images/gposicion.png" alt="Gposition">
      <ion-label>{{comoLlegar.ubicompleta}}</ion-label>
    </div>

    <div class="mapa" style="text-align: center; margin-top: 35px">
      <iframe [src]="transform(comoLlegar.urlmapa)" width="370" height="370" style="border: 0;"></iframe>
    </div>
  </div>
</ion-content>
