<app-header></app-header>

<ion-content>
  <div class="contenedor">
    <div class="">
      <img
        src="https://streetviewpixels-pa.googleapis.com/v1/thumbnail?panoid=6q9-eeQdlstjHSgVLRKNNw&cb_client=search.gws-prod.gps&yaw=127.52972&pitch=0&thumbfov=100&w=360&h=240"
        alt="Foto festival" style="width: 100%">
    </div>

    <h1 >Carrer Sant Jordi</h1>

    <div style="width: 100%; border-bottom: 1px solid darkgray; margin-bottom: 10px; margin-top:10px"></div>

    <div class="calle">
      <img style="margin-right: 5px" src="assets/images/gposicion.png" alt="Gposition">
      <ion-label>Carrer Sant Jordi, 7, 03203 Elx, Alacant</ion-label>
    </div>

    <div class="mapa" style="text-align: center; margin-top: 35px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1566.3477353762391!2d-0.6997945711284624!3d38.26336836220347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b6f2f40973bf%3A0x7d32abdbfe5d4a14!2sCarrer%20Sant%20Jordi%2C%207%2C%2003203%20Elx%2C%20Alacant!5e0!3m2!1ses!2ses!4v1615477509046!5m2!1ses!2ses" width="370" height="370" style="border: 0;"  ></iframe>
    </div>
  </div>
</ion-content>
