<ion-list style="padding-top: 15px" mode="ios">
  <ion-item routerLink="/login" lines="none">
    <ion-img style="width: 50px; height: 50px;" slot="start" src="assets/images/login.png"></ion-img>
    <ion-label>Iniciar sesión</ion-label>
  </ion-item>
  <div style="width: 100%; border-bottom: 2px solid darkgray; margin-bottom: 10px; margin-top:10px"></div>
  <div style="width: 100%; border-bottom: 2px solid darkgray; margin-bottom: 10px; margin-top:10px"></div>
  <ion-item routerLink="">
    <ion-img style="width: 50px; height: 50px;" slot="start" src="assets/images/settings.png"></ion-img>
    <ion-label>Ajustes</ion-label>
  </ion-item>
  <ion-item routerLink="" lines="none">
    <ion-img style="width: 50px; height: 50px;" slot="start" src="assets/images/support.png"></ion-img>
    <ion-label>Asistencia</ion-label>
  </ion-item>
</ion-list>
