<ion-list style="padding-top: 10px;padding-bottom: 10px; background-color: #232323; opacity: 90%" mode="ios">
  <ion-item lines="none" style="--ion-item-background: #232323;" *ngFor="let t of tickets">
    <ion-img style="width: 30px; height: 30px; margin-right: 0px" slot="start" src="assets/images/ticket.png"></ion-img>
    <ion-label style="margin-left: 5px;">{{t.nombre}}</ion-label>
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-text-center ion-align-items-center">
        <ion-col size="4">
          <ion-button (click)="menostickets()">-</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-label>3</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="mastickets()">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
