@font-face {
  font-family: 'Hot-Pizza';
  src: url('../../../assets/fonts/hotpizza.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titulo {
  font-family: 'Hot-Pizza' !important;
}
