<app-header></app-header>

<ion-content>

  <ion-card style="--background: rgba(181,231,37,0.07)">
    <ion-card-header>
      <ion-img src="/assets/images/restauranteprueba.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle style="color: #0b8e36">Restaurante 1</ion-card-subtitle>
      <label style="color: black"><img src="assets/images/location.png" style="height: 20px"><span
        style="font-weight: bolder;">Ubicación:</span> Zona A</label>
    </ion-card-content>
  </ion-card>

</ion-content>
