<app-header></app-header>

<ion-content>
  <ion-card class="ion-no-padding" *ngFor="let a of listActuaciones" [routerLink]="['/actuacion/', a.id]">
    <ion-card-header>
      <ion-grid class="ion-no-margin ion-no-padding" >
        <ion-row>
          <ion-col size="7" >
            <ion-card-title>{{a.actuacion}}</ion-card-title>
          </ion-col>
          <ion-col class="ion-text-center" style="margin-top: auto">
            <ion-card-subtitle style="float: right; font-size: 1em" color="primary"><ion-icon name="time-outline"></ion-icon> {{a.tiempo}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content style="padding: 8px 8px 4px 8px">
      <img [src]=a.img alt="Actuacion">
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Cargando actuaciones...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
