<app-header></app-header>

<ion-content>
  <div style="margin: 15px;">
    <h3 style="text-align: center; margin-top: 20px">Registro</h3>
    <form #formulario="ngForm" (ngSubmit)="enviarFormularioRegistro(formulario)" action="">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" required [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="usuario.email" name="email" email="true" required
                     pattern="^([a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password" name="password" required minlength="7"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password2" name="password2" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.telefono" name="telefono"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" style="margin-top: 20px" [disabled]="formulario.invalid"
                  (click)="registro()">Register
      </ion-button>
    </form>
  </div>
</ion-content>
