<ion-header>
  <ion-toolbar style="--background: #0c8e36;">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div style="padding: 10px; width: 100%">
    <ion-img style="width: 100%;" src="assets/images/logo_cocodrilo_fondotransparente.png"></ion-img>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let c of categories">
          <div class="card">
            <ion-card style="margin: 2px; --background: rgba(181,231,37,0.07)" [routerLink]=c.redirectTo>
              <ion-card-header>
                <ion-card-title style="font-size: 20px; text-align: center; color: #0c8e36">{{c.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img [src]=c.icon class="img"></ion-img>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card" routerLink="/restaurantes">
            <ion-card style="margin: 2px; --background: rgba(181,231,37,0.07)">
              <ion-card-header>
                <ion-card-title style="font-size: 20px; text-align: center; color: #0c8e36">Restaurante</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="assets/images/restaurant.png" class="img"></ion-img>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card" routerLink="/faq">
            <ion-card style="margin: 2px; --background: rgba(181,231,37,0.07)">
              <ion-card-header>
                <ion-card-title style="font-size: 20px; text-align: center; color: #0c8e36">FAQs</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img src="assets/images/support.png" class="img"></ion-img>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <app-fab-icon></app-fab-icon>
  </ion-fab>
</ion-content>
