<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-menu-button menu="menu">
        <ion-img src="assets/images/menu.png" style="height: 35px; width: 35px"></ion-img>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let c of categorias">
          <div class="carta">
            <ion-card color="light" style="margin: 2px" [routerLink]=c.redirectTo>
              <ion-card-header>
                <ion-card-title style="font-size: 1.5em; text-align: center">{{c.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img [src]=c.icon class="imagen"></ion-img>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <app-fab-icon></app-fab-icon>
  </ion-fab>
</ion-content>
