<app-header></app-header>

<ion-content>

  <h3 style="text-align: center; margin-top: 20px">Preguntas frecuentes</h3>
  <ion-list style="margin: 20px">
    <ion-item *ngFor="let q of questions">
      <ion-label>
        <h2>{{q.question}}</h2>
        <h4>{{q.answer}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>

    <ion-list style="margin: 20px">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 15px">festival@festival.com </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label style="margin-left: 15px"> +34 964 73 45 34 </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
