<app-header></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>¿Donde es el evento?</ion-label>
      <ion-label>En elche</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>¿Cuando será el festival?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>¿A qué hora empieza?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>¿A qué hora acaba?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>¿Dónde puedo comprar las entradas?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>¿Como funciona el sistema de QR para los niños?</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
